<div class="base-wrapper add-course-wrapper">
  <div class="title">
    Новый элемент курса
  </div>

  <div class="content-wrapper">
    <div class="form" [formGroup]="formGroup">

      <mat-form-field appearance="fill" class="field">
        <mat-label>Название элемента</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <mat-radio-group aria-label="Выберите тип элемента" formControlName="itemType">
        <mat-radio-button value="{{ItemType.Page}}">Статья</mat-radio-button>
        <mat-radio-button value="{{ItemType.Code}}" checked>Проект/Код</mat-radio-button>
      </mat-radio-group>

      <div class="page-item-section" *ngIf="isSectionSelected(ItemType.Page)">
        <div class="field">
          <label>Описание</label>
          <app-editor #texteditor (editorContent)="onEditorContentSaved($event)"
                      [imageKey]="formGroup.value?.courseId"
          ></app-editor>
          <app-editor-parser [editorContent]="editorContent" *ngIf="editorContent"></app-editor-parser>
        </div>
      </div>

      <div class="code-item-section" *ngIf="isSectionSelected(ItemType.Code)">

      </div>


      <div class="create-btn" (click)="onCreateClick()">
        <button mat-flat-button>Создать</button>
      </div>

    </div>
  </div>
</div>
