<div class="wrapper">
  <div class="title">Настройки безопасности</div>
  <form [formGroup]="passwordForm" (submit)="onUpdatePassword()" class="passwordForm">
    <mat-form-field class="input">
      <mat-label>Старый пароль</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'"
             formControlName="oldPassword"
      >
      <button mat-icon-button matSuffix
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Новый пароль</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'"
             formControlName="newPassword"
      >
      <button mat-icon-button matSuffix
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Подтверждение нового пароля</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'"
             formControlName="newPassword"
      >
      <button mat-icon-button matSuffix
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div class="bottom-section">
      <button mat-raised-button color="primary" (click)="onUpdatePassword()">Сохранить</button>
    </div>
  </form>
</div>
