.inner-container{
  display: flex;
  gap: 24px;
}

.user-menu{

  menu{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .option{
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
  }

  .option:hover{
    background-color: var(--section-background-color);
  }

  .name{
    margin-left: 8px;
  }
}
