<div class="base-wrapper dashboard-wrapper">
  <div class="inner-container">

    <div class="user-menu">
      <div class="header-img">
        <img src="https://stepik.org/static/frontend/learning/header-img-evening.png">
      </div>

      <menu>
        <div class="option" routerLink="courses">
          <fa-icon icon="chess-knight"></fa-icon>
          <span class="name">Моё обучение</span>
        </div>

        <div class="option" routerLink="projects">
          <fa-icon icon="graduation-cap"></fa-icon>
          <span class="name">Мои проекты</span>
        </div>

        <div class="option">
          <fa-icon icon="bell"></fa-icon>
          <span class="name">Уведомления</span>
        </div>
      </menu>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
