<div class="layouts-wrapper app-frame mat-app-background">

  <div class="content">
    <div class="side-bar">
      <app-side-bar (onSideBarNarrow)="onSideBarNarrow($event)"></app-side-bar>
    </div>

    <div class="main-content mat-app-background" [class.wide]="isSideBarNarrow">
        <router-outlet></router-outlet>
    </div>
  </div>

</div>
