@import "variables";

.main-content{
  width: calc(100% - $sideBarWidthWide);
  position: relative;
  left: $sideBarWidthWide;
  transition: all ease 1s;
}

.main-content.wide{
  width: calc(100% - $sideBarWidthNarrow);
  left: $sideBarWidthNarrow;
}

.app-frame {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

.content-wrapper{
  padding: 24px;
  word-wrap: break-word;
}

.content{
  height: 100%;
}
