.base-content-wrapper{
}

.cabinet-content{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.main-content {
  margin-top: 24px;
}

.sidebar{
  padding: 24px;
  -webkit-box-shadow: 0 0 40px 0 rgb(0 0 0 / 18%);
  box-shadow: 0 0 40px 0 rgb(0 0 0 / 18%);
  border-radius: 8px;
}

.sidebar-content{
  display: flex;
  gap: 12px;
}

.sidebar-wrapper{
  padding: 0 24px;
}

.admin-button-fixed{
  width: 100%;
}

