<div class="base-content-wrapper base-wrapper">
  <div class="cabinet-wrapper">
    <div class="cabinet-content">
      <div class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="option">
            <button mat-raised-button  color="primary" class="admin-button-fixed" routerLink="course">
              <fa-icon icon="graduation-cap"></fa-icon>
              Курсы
            </button>
          </div>
          <div class="option">
            <button mat-raised-button color="primary" class="admin-button-fixed" routerLink="article">
              <fa-icon icon="newspaper"></fa-icon>
              Статьи
            </button>
          </div>
          <div class="option">
            <button mat-raised-button  color="primary" class="admin-button-fixed">
              <fa-icon icon="user"></fa-icon>
              Пользователи
            </button>
          </div>

        </div>
      </div>
    </div>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
