.course-card-wrapper{
  width: 100%;
}

.card-content{
  overflow: hidden;
  color: white;
  font-weight: bold;
  cursor: pointer;
  //max-width: 620px;
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 36px;


  .course-name{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .course-img-figure{
    //--mask:
    //  radial-gradient(98.39px at 50% calc(100% - 132.00px),#000 99%,#0000 101%) calc(50% - 88px) 0/176px 100%,
    //  radial-gradient(98.39px at 50% calc(100% + 88.00px),#0000 99%,#000 101%) 50% calc(100% - 44px)/176px 100% repeat-x;
    //-webkit-mask: var(--mask);
    //mask: var(--mask);

    width: inherit;
    height: inherit;
    border-radius: 12px;

  }

  .course-img-figure:after{
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
    z-index: 1;
  }

  .course-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;

  }

}

