<div class="course-card-wrapper">
  <div class="card-content light-element">
    <div class="course-name fancy" *ngIf="courseCardPrompt">
      {{courseCardPrompt.name}}
    </div>
    <figure class="course-img-figure prevent-selection">
      <img class="course-img" src="{{courseCardPrompt.imageUrl}}" draggable="false">
    </figure>
  </div>
</div>
