<div class="code-editor-wrapper" *ngIf="availablePlatforms && project && project.platform">
  <div class="content">
    <div class="sidebar">
      <app-file-explorer [tree]="fileTree" (selectedFile)="onFileSwitch($event)" class="file-explorer"></app-file-explorer>

      <div class="toolbar" *ngIf="!editorOptions.readOnly">

        <div class="platform-selection">
          <mat-form-field class="custom-select">
            <mat-label>Платформа</mat-label>
            <mat-select [(value)]="project.platform.name">
              <mat-option *ngFor="let platform of availablePlatforms" [value]="platform.name">{{platform.description}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="command-to-run">
          <mat-form-field class="full-input">
            <mat-label>Команда для запуска</mat-label>
            <input matInput placeholder="dotnet" [value]="project.command" (change)="onCommandChange($event)">
          </mat-form-field>

          <mat-form-field class="full-input">
            <mat-label>Аргументы</mat-label>
            <input matInput placeholder="Test.dll" [value]="project.arguments" (change)="onArgumentChange($event)">
          </mat-form-field>
        </div>

        <div class="build-bar">
          <button mat-raised-button (click)="onSaveClick()" class="save-btn">Сохранить</button>
          <button mat-stroked-button color="accent" (click)="onRunClick()">Запустить</button>
        </div>
      </div>
      <div class="toolbar" *ngIf="editorOptions.readOnly">
        <button mat-raised-button (click)="onCloneClick()" class="save-btn">Клонировать/Перенести</button>
      </div>
    </div>

    <div class="code-section">
      <ngx-monaco-editor class="editor" [options]="editorOptions" [(ngModel)]="code"
                         (change)="onChangeCode()"></ngx-monaco-editor>

      <div class="terminal">
        <app-terminal [project]="project" [setOutput]="containerLogs" [isLoading]="isLoading"></app-terminal>
      </div>
    </div>
  </div>


</div>
