.code-editor-wrapper{
  height: 100%;
 // overflow-x: hidden;
}

.code-section{
  flex: 2;
  display: flex;
  flex-direction: column;

  .editor{
    height: 100%;
    flex: 2;
  }
}

.sidebar-header{
  display: flex;
}

.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.file-explorer{
  flex: 2;
}

.content{
  display: flex;
  width: 100%;
  height: 100%;
}

.toolbar{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;

  .platform-selection{
    width: 100%;
  }

  .save-btn{
    margin-right: 8px;
  }

  .custom-select {
    width: 100%;
    margin-bottom: -1.25em;
    font-size: 14px !important;
  }
}

.command-to-run{
  display: flex;
  flex-direction: column;
  width: 100%;
}
