<div class="courses-section" *ngIf="courses">

  <div class="title">
    <span class="fancy">Моё обучение</span>
  </div>
  <div class="courses-wrapper">
    <div class="course-item" *ngFor="let course of courses">
      <app-course-card [courseCardPrompt]="course" routerLink="/courses/{{course.slug}}"></app-course-card>
    </div>
  </div>
</div>

