<div class="base-wrapper login-wrapper">
  <div class="login-section">
    <div class="title">
      Авторизация
    </div>
    <div class="content">
      <form class="form-wrapper" [formGroup]="loginForm" (submit)="onLogin()">
        <mat-form-field>
          <mat-label>Логин</mat-label>
          <input matInput formControlName="login">
          <mat-hint>Юзернейм или Эмаил</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Пароль</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>Забыли пароль? <a class="link">Восстановить</a></mat-hint>
        </mat-form-field>
        <div class="bottom-section">
          <button mat-raised-button color="primary" (submit)="onLogin()">Войти</button>
        </div>
      </form>
    </div>
  </div>
</div>
