@import "variables";

.login-section{
  margin-top: 40px;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 30%;
}

.login-wrapper{
  text-align: center;
  text-align: -webkit-center;
}

.bottom-section{
  text-align: right;
}
