<div class="base-wrapper add-course-wrapper">
  <div class="title">
    Изменить элемент курса
  </div>

  <div class="content-wrapper">
    <div class="form" [formGroup]="formGroup">

      <mat-form-field appearance="fill" class="field">
        <mat-label>Название элемента</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <mat-radio-group aria-label="Выберите тип элемента" formControlName="itemType">
        <mat-radio-button value="{{ItemType.Page}}" checked="{{isSectionSelected(ItemType.Page)}}">Статья</mat-radio-button>
        <mat-radio-button value="{{ItemType.Code}}" checked="{{isSectionSelected(ItemType.Code)}}">Проект/Код</mat-radio-button>
      </mat-radio-group>

      <div class="page-item-section" *ngIf="isSectionSelected(ItemType.Page)">
        <div class="field">
          <label>Описание</label>
          <app-editor #texteditor (editorContent)="onEditorContentSaved($event)" [editorPrompt]="editorContent"
                      [imageKey]="formGroup.value?.courseId"
          ></app-editor>
          <app-editor-parser [editorContent]="editorContent" *ngIf="editorContent"></app-editor-parser>
        </div>
      </div>

      <div class="code-item-section" *ngIf="isSectionSelected(ItemType.Code)">
        <form class="form">
          <mat-form-field class="width">
            <input
              matInput
              placeholder="Проект"
              aria-label="Проект"
              [matAutocomplete]="auto"
              [formControl]="projectControl"
              required
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let project of filteredProjects | async"
                [value]="project.id"
              >
                <span>{{ project.title }} | {{ project.description }} | {{ project.id}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>

      </div>


      <div class="create-btn" (click)="onUpdateClick()">
        <button mat-flat-button>Обновить</button>
      </div>

    </div>
  </div>
</div>
