<div class="base-wrapper">
  <div class="inner-container">

    <div class="user-menu section">
      <div class="header-img">
        <img src="https://stepik.org/static/frontend/learning/header-img-evening.png">
      </div>

      <menu>
        <div class="option" routerLink="profile">
          <fa-icon icon="user"></fa-icon>
          <span class="name">Профиль</span>
        </div>

        <div class="option" routerLink="security">
          <fa-icon icon="shield-halved"></fa-icon>
          <span class="name">Безопасность</span>
        </div>

        <div class="option">
          <fa-icon icon="bell"></fa-icon>
          <span class="name">Уведомления</span>
        </div>
      </menu>
    </div>

    <div class="content section">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
