.inner-container{
  display: flex;
  gap: 24px;
  min-height: 80vh;
}

.section{
  background-color: var(--section-background-color);
  padding: 24px 32px;
  border-radius: 16px;
}

.user-menu{
  menu{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .option{
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
  }

  .option:hover{
    background-color: var(--hover-color);
  }

  .name{
    margin-left: 8px;
  }
}

.content{
  width: 600px;

}
