<div class="sidebar" [class.narrow]="isSideBarNarrow">
  <div class="top-bar">
    <div class="sidebar-section">
      <div class="logo">
        <img height="51" src="./assets/images/app/logo.svg" alt="Logo">
      </div>

      <nav>
        <div class="bar" (click)="onBarClick()">
          <fa-icon icon="bars"></fa-icon>
        </div>

        <ul class="menu-section">
          <li routerLink="/">
            <fa-icon icon="house"></fa-icon>
            <span class="nav-item">Дашборд</span>
          </li>

          <li routerLink="/courses">
            <fa-icon icon="graduation-cap"></fa-icon>
            <span class="nav-item">Курсы</span>
          </li>

          <li>
            <fa-icon icon="newspaper"></fa-icon>
            <span class="nav-item">Статьи</span>
          </li>

          <li>
            <fa-icon [icon]="faFreeCodeCampIcon"></fa-icon>
            <span class="nav-item">Сообщения</span>
          </li>

          <li routerLink="/settings">
            <fa-icon icon="gear"></fa-icon>
            <span class="nav-item">Настройки</span>
          </li>

          <li routerLink="/management" *ngIf="_authService.isAdmin()">
            <fa-icon icon="chess-knight"></fa-icon>
            <span class="nav-item">Менеджмент</span>
          </li>

          <li routerLink="/projects" (click)="onProjectsTabOpen()">
            <fa-icon [icon]="faConnectDevelopIcon"></fa-icon>
            <span class="nav-item">Проекты</span>
          </li>

        </ul>
      </nav>
    </div>
  </div>
  <div class="bottom-bar">
    <div class="theme-control">
      <fa-icon [icon]="isDarkTheme ? 'moon': 'sun'" (click)="onThemeSwitch()" class="theme-icon icon-btn"></fa-icon>
      <span class="text">{{isDarkTheme ? 'Темная': 'Светлая'}} тема</span>
      <mat-slide-toggle class="text" color="primary" [checked]="isDarkTheme" (change)="onThemeSwitch()"></mat-slide-toggle>
    </div>
    <div class="user-section">
      <div class="authorized" *ngIf="isAuthorized()">
        <div class="authorized-user-section">
          <div class="user-image-section">
            <img [src]="user?.avatarUrl" class="user-image"/>
          </div>
          <div class="text">
            <span class="greet">
              Привет,
            </span>
            <p class="user-name">
              {{user?.firstName}} {{user?.lastName}}
            </p>
          </div>
          <fa-icon icon="right-from-bracket" (click)="logout()" class="text icon-btn"></fa-icon>
        </div>

      </div>

      <div class="non-auth" *ngIf="!_authService.isAuthorized()">
        <div routerLink="/auth" class="login-btn">
          <span class="text">Войти</span>
          <fa-icon icon="right-from-bracket"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
