@import "variables";

.logo {
  transition: ease 0.5s;
  img {
    width: 150px;
  }
}

.sidebar {
  color: #ffffff;
  z-index: 1000;
  position: fixed;
  width: $sideBarWidthWide;
  height: 100%;
  background-color: var(--foreground-color);
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.narrow {
  width: $sideBarWidthNarrow;

  .logo {
    opacity: 0;
  }

  .nav-item {
    opacity: 0;
  }

  .text {
    opacity: 0;
  }

  .bar {
    left: 50%;
  }
}

.sidebar-section {
  color: white;
  padding: 8px 12px;

}

.bar {
  cursor: pointer;
  position: absolute;
  color: #ffffff;
  left: 90%;
  transform: translate(-50%, -50%);
  top: 35px;
  transition: ease 1s;
}

li {
  padding: 12px 8px 12px 18px;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  transition: 100ms ease;
  gap: 18px;
}

.text {
  transition: ease 300ms;

}

li:hover {
  background-color: #626262;
}

li:after {
  content: '';
}

.menu-section {
  margin-top: 24px;
  font-size: 14px;
  line-height: 28px;

  .nav-item {
    transition: ease 0.5s;
  }
}

.bottom-bar {
  bottom: 0;
  margin-bottom: 18px;
  padding: 0 8px;

  .user-section {
    border-top: 1px solid rgba(149, 149, 149, 0.26);
    padding-top: 12px;
    display: flex;
    font-size: 12px;
    gap: 4px;
    align-items: center;

    .user-img {
      font-size: 24px;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      padding: 8px;
      border: 1px solid;
    }

  }
}

.login-btn {
  margin: 0 16px;
  font-size: 14px;
  display: flex;
  gap: 24px;
  width: 100%;
  cursor: pointer;
  justify-content: center;
  padding: 12px;
  border-radius: 12px;
}

.login-btn:hover{
  background-color: #4d77b6;
}

.authorized {
  width: 100%;
}

.authorized-user-section {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 24px;

  .user-name {
    font-size: 18px;
    font-weight: bold;
  }

  .user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  .logout-btn {
    font-size: 16px;
    cursor: pointer;
  }
}

.sidebar-control{
  position: fixed;
  cursor: pointer;
}

.theme-icon{
  width: 30px;
  height: 30px;
}

.theme-control{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
