<div class="courses-section" >

  <div class="title">
    <span class="fancy">Мои проекты</span>
  </div>
  <div class="projects">
    <div class="project-card" *ngFor="let project of userProjects">
      <div class="description">
        <span>Название</span>
        <div>
          <p>{{project.title}}</p>
          <p>{{project.description}}</p>
        </div>
      </div>

      <div class="platform">
        <span>Платформа - </span>
        {{project.platform.name}}
      </div>

      <div class="btn">
        <button mat-raised-button routerLink="/projects/sandbox/{{project.id}}">Открыть</button>
      </div>
    </div>

  </div>
</div>

