<div class="course-detail-wrapper">
  <div class="course-detail-content" *ngIf="course">

    <div class="top-content">

      <div class="name">
        <div class="title">{{course.name}}</div>
        <div class="slight-description">
          {{course.slightDescription}}
        </div>


        <div class="goTo-course-button">
          <button mat-raised-button routerLink="items">Перейти в курс</button>
        </div>

      </div>

      <div class="course-image-section">
        <img src="{{course.imageUrl}}" class="course-image"/>
      </div>
    </div>

    <div class="content">

      <div class="description">
        <span class="section-title">О курсе</span>

        <app-editor-parser [editorContent]="getDescriptionJson()"></app-editor-parser>
      </div>

      <div class="course-items">
        <mat-list role="list">
          <div class="wrapper" *ngFor="let item of course.items">
              <mat-list-item role="listitem" class="list-item" routerLink="items/{{item.id}}">{{item.title}}</mat-list-item>
          </div>
        </mat-list>
      </div>
    </div>
  </div>
 </div>
