.course-detail-wrapper{
}

.content{
  display: flex;
  justify-content: center;
  padding: 0 60px;
  margin-top: 64px;
}

.goTo-course-button{
  margin-top: 24px;
}

.top-content{
  background-color: var(--section-background-color);
  padding: 24px 260px 38px 260px;

  //--mask:
  //  radial-gradient(91.68px at 50% calc(100% - 123.00px),#000 99%,#0000 101%) calc(50% - 82px) 0/164px 100%,
  //  radial-gradient(91.68px at 50% calc(100% + 82.00px), rgba(223, 37, 37, 0) 99%,#000 101%) 50% calc(100% - 41px)/164px 100% repeat-x;
  //-webkit-mask: var(--mask);
  //mask: var(--mask);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;

  .course-image{
    border-radius: 12px;
    width: 400px;
    height: 200px;
    object-fit: cover;
  }

  .title{
    font-size: 24px;
  }
}

.description{
  flex: 1;
}

.section-title{
  font-size: 28px;
}

.course-items{
  width: 30%;
  height: 100%;
  padding: 30px;
  border-radius: 8px;
  background: var(--section-background-color);

  .list-item:hover{
    background-color: rgb(147 147 147 / 36%);
    cursor: pointer;
    border-radius: 8px;
  }
}
