<div class="top-bar">
  <header>
    <div class="search">
      <mat-form-field class="search-input" style="margin-bottom: -1.25em">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Поиск">
      </mat-form-field>
    </div>

    <div class="theme-control">
      <mat-slide-toggle color="primary" checked="{{isChecked}}" (change)="onDarkModeSwitch($event)"></mat-slide-toggle>
      <fa-icon icon="moon"></fa-icon>
    </div>
  </header>
</div>

