@import "variables";

header{
  height: 100%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50%;
  padding: 0 60px;
}

.top-bar{
  position: absolute;
  background-color: var(--foreground-color);
  width: 100%;
  height: $topBarHeight;
}

.search{
  zoom: 0.6;
  padding: 2px;
}
.theme-control{
  color: #ffffff;

}
