<div class="base-wrapper course-page-wrapper">
  <div class="title">
    Список курсов
  </div>

  <div class="courses-wrapper">
    <div class="course-item" *ngFor="let course of courses" >
      <app-course-card [courseCardPrompt]="course" routerLink="/courses/{{course.slug}}"></app-course-card>
    </div>
  </div>

</div>
