
.avatar-container {
  position: relative;
  width: fit-content;
}

.box-shadow-avatar{
  box-shadow: 0 10px 20px 20px #6c93001a;
}

.image-container {
  height: 150px;
  width: 150px;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;

  &.avatar-placeholder{
    background-image: url('~src/assets/images/app/logo.svg');
  }
}

.icon-wrapper {
  position: absolute;
  height: 40px;
  width: 40px;
  padding: .35rem;
  background-color: #2D4C7B83;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 75%;
  z-index: 2;
  cursor: pointer;

  &:hover {
    transition: all .25s;
    background-color: var(--section-background-color);
  }

  .icon {
    color: white;
  }

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type='file'] {
    display: none;
  }
}
