<div class="base-wrapper auth-wrapper">

  <div class="header">
    <a routerLink="login">Авторизация</a>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="item">
      <a routerLink="register">Регистрация</a>
    </div>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
