<div class="container">
  <div class="upload-image-form">

    <div class="upload-image-section form-item">
      <label for="upload-photo" class="upload-photo-label-button">{{prompt.title}}</label>
      <input type="file" name="photo" id="upload-photo" multiple (change)="onSelectImage($event)"
             accept="image/png, image/gif, image/jpeg"
      />
    </div>

    <div class="image-container" *ngIf="images.length">
      <div *ngFor="let image of images">
        <div class="delete-btn" (click)="onImageRemove(image)">
          <mat-icon>remove_circle</mat-icon>
        </div>
        <img [src]="image.imagePreview" alt="" class="preview-item">
      </div>
    </div>
  </div>
</div>
