.container{
  text-align: center;
}

.upload-image-form{
  font-size: 18px;
  margin: 40px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

#upload-photo{
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.upload-image-form .form-item{
  align-items: center;
  display: flex;
}

.upload-photo-label-button{
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-left: 8px;
  padding: 4px 8px;
  color: white;
  background-color: #403f3f;
  border-radius: 4px;
}

.upload-image-section{
  display: flex;
}

.image-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img{
    border-radius: 8px;
    width: 360px;
    height: 180px;
    object-fit: cover;
  }

  div{
    margin: 18px 12px;
  }
}

.delete-btn{
  position: absolute;
  color: red;
}
