﻿<div [style]="'width:' + width + ';height:' + height" [class]="'monaco-tree ' + theme">
  <div class="top-section">
    <p>Explorer</p>
  </div>

  <div class="file-tree">
    <monaco-tree-file (contextMenuClick)="handleClickContextMenu($event)" (clickFile)="handleClickFile($event)"
                      [theme]="theme" *ngFor="let row of tree" [name]="row.name" [children]="row.children" [depth]="0"
                      [hide]="false"></monaco-tree-file>

  </div>
</div>
