.monaco-tree {
  font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-dark,Ubuntu,Droid Sans,sans-serif;
  width: 300px;
  overflow: auto;
}

.monaco-tree.vs-dark {
  background: #1d1d1d;
  color: white;
}

.monaco-tree.vs-light {
  color: rgb(97, 97, 97);
}

.top-section{
  text-align: center;
  padding: 12px 0;
}
