<div class="wrapper">
  <div class="title">Изменить профиль</div>
  <form [formGroup]="editForm" class="edit-form">
    <div class="inner-wrapper">

      <app-avatar-uploader
        [fileUrl]="editForm.controls['avatarUrl'].value" class="image-field field"
        (onUploadImageCallback)="onUploadImageEvent($event)"
      ></app-avatar-uploader>

      <div class="field complex-field">
        <mat-form-field class="input">
          <mat-label>Имя</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>

        <mat-form-field class="input">
          <mat-label>Фамилия</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
      </div>

      <div class="field complex-field">
        <mat-form-field class="input">
          <mat-label>Почта</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field class="input">
          <mat-label>Юзернейм</mat-label>
          <input matInput formControlName="userName">
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field class="input">
          <mat-label>Дата рождения</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="bottom-section">
      <button mat-raised-button color="primary" (click)="onSubmitChanges()">Сохранить</button>
    </div>

  </form>

</div>
