.field{
  margin: 8px;
  width: 100%;
}

.complex-field{
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.input{
  width: 100%;
}

.bottom-section{
  text-align: right;
}
.edit-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-field{
  text-align: center;
}
