.list-item:hover{
  background-color: rgb(147 147 147 / 36%);
  cursor: pointer;
}

.sidebar-control{
  position: fixed;
  color: red;
  font-size: 24px;
  z-index: 1000;
}

.course-items-wrapper{
  overflow: hidden;
  display: flex;

  .content{
    flex: 1;
  }
}

.side-nav{
  width: 250px;
  border-radius: 0 15% 15% 0;
  background-color: var(--section-background-color);
  padding: 8px;
  position: fixed;
}

.course-items-wrapper{
  display: flex;

  .content{
    flex: 1;
  }
}

.side-container{
  height: 100vh;
}

.sidebar-title{
  font-weight: bold;
  text-align: center;
}

.sidebar-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.not-selected{
  font-size: 64px;
  text-align: center;
  margin-top: 20%;
}

.content-wrapper{
  height: 100%;

  .code-item{
    height: 100%;
  }
}
