<div class="course-items-wrapper" *ngIf="course">
  <div class="sidebar">
    <mat-drawer-container class="side-container" autosize>
      <mat-drawer #drawer class="side-nav" mode="side" [opened]="true">
        <div class="sidebar-title">
          Элементы курса
        </div>
        <div class="sidebar-content">
          <mat-list role="list" >
            <div class="wrapper" *ngFor="let item of course.items">
              <mat-list-item
                role="listitem"
                class="list-item"
                [title]="item.title"
                (click)="openCourseItem(item)"
                routerLink="/courses/{{course.slug}}/items/{{item.id}}"
              >{{item.title}}</mat-list-item>
            </div>
          </mat-list>

          <div class="sidebar-bottom">

          </div>
        </div>

      </mat-drawer>



    </mat-drawer-container>

  </div>
  <div class="content">
    <div class="sidebar-control" (click)="drawer.toggle()">
      <fa-icon [icon]="drawer.opened ? 'angles-left' : 'angles-right'"></fa-icon>
    </div>


    <div class="content-wrapper" *ngIf="!!courseItem">

      <div class="parser" *ngIf="courseItem.itemType === ItemType.Page">
        <app-editor-parser
          [editorContent]="getContentJson()"
        ></app-editor-parser>
      </div>

      <div class="code-item" *ngIf="courseItem.itemType === ItemType.Code">
        <app-code-editor
          [inputId]="courseItem.project!.id"
        ></app-code-editor>
      </div>
    </div>



    <div class="not-selected" *ngIf="!courseItem">
      Выбери элемент курса <span class="fancy">{{course.name}}!</span>
    </div>


  </div>
</div>
