<div class="base-wrapper add-course-wrapper">
  <div class="title">
    Новый курс
  </div>

  <div class="content-wrapper">
    <div class="form" [formGroup]="formGroup">

      <mat-form-field appearance="fill" class="field">
        <mat-label>Название курса</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        <mat-label>Краткое описание</mat-label>
        <input matInput formControlName="slightDescription">
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        <mat-label>Slug (url-ключ)</mat-label>
        <input matInput formControlName="slug">
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        <mat-label>Цена</mat-label>
        <input matInput formControlName="price">
      </mat-form-field>

      <div class="field">
        <label>Описание</label>
        <app-editor #texteditor (editorContent)="onEditorContentSaved($event)"
                    [imageKey]="formGroup.value?.courseId"
        ></app-editor>
        <app-editor-parser [editorContent]="editorContent" *ngIf="editorContent"></app-editor-parser>
      </div>

      <div class="field">
        <app-uploader (imageFiles)="selectedImages = $event"></app-uploader>
      </div>

      <div class="create-btn">
        <button mat-flat-button (click)="onSendClick()">Создать</button>
      </div>

    </div>
  </div>


</div>
