<div class="base-wrapper register-wrapper">
  <div class="title">
    Регистрация
  </div>

  <div class="content">
    <form [formGroup]="registerForm">

      <div class="field">
        <mat-form-field class="input">
          <mat-label>Имя</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>

        <mat-form-field class="input">
          <mat-label>Фамилия</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field class="input">
          <mat-label>Почта</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field class="input">
          <mat-label>Юзернейм</mat-label>
          <input matInput formControlName="userName">
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field class="input">
          <mat-label>Дата рождения</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field class="input">
          <mat-label>Пароль</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'"
                 formControlName="password"
          >
          <button mat-icon-button matSuffix
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="field">
        <app-uploader (imageFiles)="onImageSelected($event)" [prompt]="{title: 'Загрузить аватар'}"></app-uploader>
      </div>


      <button mat-raised-button color="primary" (click)="register()">Зарегистрироваться</button>
    </form>
  </div>
</div>
