<div class="terminal-section">
  <div class="wrapper" (click)="focusPromptInput()">
    <div class="terminal-header">
      <div class="btn close" (click)="onClear()"></div>
      <div class="btn min"></div>
      <div class="btn max"></div>
    </div>
    <div class="terminal-content">
      <div class="loader" *ngIf="isLoading">
        <mat-progress-spinner
          class="example-margin"
          mode="indeterminate">
        </mat-progress-spinner>

        <div class="">Одну секундочку, думаю...</div>
      </div>

      <div class="content" *ngIf="!isLoading">
        <div class="terminal-output">
          <div class="output-content">
            <div class="item" *ngFor="let terminalOutput of terminalOutputs">

              <div class="terminal-line">
                <div class="connection">
                  <span class="user">guest</span>
                  <span class="at">@</span>
                  <span class="domain">fullstack101.ru</span>
                </div>
                <span class="directory">~</span>
                <div class="prompt">
                  <label for="terminalPrompt"></label>
                  <input
                    type="text"
                    class="terminalPrompt"
                    value="{{terminalOutput.input}}"
                  />
                </div>
              </div>
              <div class="content" [innerHTML]="terminalOutput.output"></div>

            </div>
          </div>
        </div>

        <div class="terminal-line">
          <div class="connection">
            <span class="user">guest</span>
            <span class="at">@</span>
            <span class="domain">fullstack101.ru</span>
          </div>
          <span class="directory">~</span>
          <div class="prompt">
            <label for="terminalPrompt"></label>
            <input
              type="text"
              #terminalPrompt id="terminalPrompt"
              (keyup.enter)="onAddPrompt()"
              class="terminalPrompt"
              autocomplete="off"
            />
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
