.terminal-section{
  background-color: var(--background-color);
  font-size: var(--font-size-default) !important;
  overflow: auto;
}

.terminal-wrapper{
  padding: 120px;
}

.wrapper{
  padding: 24px;
  min-height: inherit;
}

.terminal-header{
  display: flex;
  justify-content: right;
  gap: 8px;
  position: absolute;
  right: 32px;

  .btn{
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }

  .btn:hover{
    cursor: pointer;
    background-color: #f3f3f3;
  }

  .close{
    background-color: red;
  }
  .min {
    background-color: #ffc800;
  }
  .max{
    background-color: #24ff00;
  }
}

.terminal-content{
  overflow: auto;
  height: 30vh;
}

.terminalPrompt{
  background-color: var(--background-color);
  flex-grow: 1;
  -webkit-appearance: none;
  border: 0 solid;
  font-size: var(--font-size-default);
  width: 100%;
}

.terminalPrompt:focus, pre:focus{
  outline: none !important;
}

.terminalPrompt::after
{
  display: block;
  content: "";
  width: 10px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  right: -10px;
  animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.additional-msg{
  margin-bottom: 12px;

  .logo{
    margin: 12px;
    font-size: 0.8vw;
  }
}

.terminal-line{
  display: flex;
  gap: 12px;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 6px;

  .connection{
    .user{
      color: #d3ad2f;
    }
    .at{
      color: #616060;
    }
    .domain{
      color: #2dd09d;
    }
  }
}


::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 11px;
}
::-webkit-scrollbar:horizontal {
  height: 11px;
}
::-webkit-scrollbar-thumb {
  border: 2px solid white;
  background-color: var(--background-color)
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
