<div class="course-management-wrapper">
  <div class="control-bar">
    <div class="title">
      Курсы
    </div>

    <button mat-stroked-button color="primary" class="admin-button-fixed" routerLink="add">Добавить курс</button>
  </div>

  <div class="course-list" *ngIf="courses">
    <div class="course-item" *ngFor="let course of courses">
      <div class="course-image">
        <img src="{{course.imageUrl}}"/>
      </div>
      <div class="description">
        <h3 class="name">
          {{course.name}}
        </h3>
        <p class="slight-description">
          {{course.slightDescription}}
        </p>
      </div>

      <div class="control-tools">
        <div>
          <fa-icon icon="pen" class="link" routerLink="edit/{{course.slug}}"></fa-icon>
        </div>
        <div>
          <fa-icon icon="xmark" class="link" (click)="onRemoveCourseClick(course)"></fa-icon>
        </div>
      </div>
    </div>
  </div>


</div>
