.control-bar{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.course-item{
  display: flex;
  justify-content: space-between;

  .description{
    text-align: center;
  }

  .course-image{
    img{
      width: 300px;
      height: 150px;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  .control-tools{
    display: flex;
    gap: 24px;
  }
}

