.project-card{
  border: 0.5px solid;
  display: flex;
  gap: 24px;
  padding: 12px;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0 5px 10px;
  justify-content: space-between;
  text-align: center;
}

.content{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
