<div class="projects-page-wrapper base-wrapper">
  <div class="content">
    <div class="project-card" *ngFor="let project of projects">
      <div class="description">
        <span>Название</span>
        <div>
          <p>{{project.title}}</p>
          <p>{{project.description}}</p>
        </div>
      </div>

      <div class="platform">
        <span>Платформа - </span>
        {{project.platform.name}}
      </div>

      <div class="btn">
        <button mat-raised-button routerLink="sandbox/{{project.id}}">Открыть</button>
      </div>
    </div>
  </div>
</div>
