@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa:wght@400&display=swap');
@import "variables";

html, body {
  height: 100%;
}

.gtx-trans{
  display: none;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', sans-serif;
}

//ul, li {
//  list-style-type: none;
//  cursor: default;
//}

.title{
  font-size: var(--font-size-middle);
  margin-bottom: 24px;
}

.link{
  font-weight: bold;
  cursor: pointer;
}

.link:hover{
  color: rgba(12, 218, 225, 0.96);
}

a{
  text-decoration: none;
  color: var(--text-color);
}

a:hover{
  color: #4d77b6;
}


//EdJs



.ed-cell:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.ce-inline-toolbar, .ce-conversion-toolbar{
  //background-color: #685454;
}

:root {
  --background-color: #fff;
  --text-color: rgb(0, 0, 0);
  --section-background-color: #e4e4e4; //rgba(136, 213, 149, 0.35);
  --foreground-color: #38464d;
  --hover-color: #cacaca94;
  //--foreground-color-v2: #7e8d94;

  --border-color: rgba(144, 144, 144, 0.35);
  --topBarHeight: 40px;
  --font-size-middle: 22px;
  --font-size-default: 16px;

  --edjs-code-background: #e7e1e8;
  --edjs-code-text-color: #41314e;
}

input{
  color: var(--text-color);
}

[class*='dark-theme'] {
  --background-color: #303030;
  --edjs-code-background: #303030;
  --edjs-code-text-color: #cccccc;
  --text-color: #fff;
  --section-background-color: #7d9ccf69;
}

.prevent-selection{
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.light-element{
  box-shadow: 0 0 0 1px var(--section-background-color);
  transition: all 200ms ease-out;
  cursor: pointer;
}

.light-element:hover{
  box-shadow: 0 0 20px var(--section-background-color);
}

.fancy {
  position: relative;
  &:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
  }
}

.base-wrapper{
  padding: 24px 48px;
}


.monaco-editor{
  height: 100% !important;
}

.editor-container{
  height: 100% !important;
}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em;
}

.ed-content{
  > *{
    margin: 12px 0;
  }

  p, ul{
    line-height: 1.5;
  }

  li{
    margin: 8px 0;
  }

  img{
    max-width: 60%;
  }

  .image-with-background{
    width: 100%;
    background-color: #7e8d94;
  }

  .image{
    text-align: center;
  }

  .code{
      padding: 12px;
      min-height: 200px;
      font-family: Menlo, Monaco, Consolas, Courier New, monospace;
      color: var(--edjs-code-text-color);
      line-height: 1.6em;
      font-size: 14px;
      background: var(--edjs-code-background);
      border: 1px solid #f1f1f4;
      box-shadow: none;
      white-space: pre;
      word-wrap: normal;
      overflow-x: auto;
      resize: vertical;
  }

  .ed-row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10px,1fr));
    position: relative;
    border-bottom: 1px solid var(--border-color);

  }

  .ed-cell{
    padding: 6px 12px;
    overflow: hidden;
    outline: none;
    line-break: normal;
  }
}


.icon-btn{
  font-size: 16px;
  cursor: pointer;
}

.full-height{
  min-height: 100vh;
  height: 100%;
}
