<div class="base-wrapper add-course-wrapper">
  <div class="title">
    Редактировать существующий курс - {{existingCourse.name}}
  </div>

  <div class="content-wrapper">
    <div class="form" [formGroup]="formGroup">

      <mat-form-field appearance="fill" class="field">
        <mat-label>Название курса</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        <mat-label>Краткое описание</mat-label>
        <input matInput formControlName="slightDescription">
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        <mat-label>Slug (url-ключ)</mat-label>
        <input matInput formControlName="slug">
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        <mat-label>Цена</mat-label>
        <input matInput formControlName="price">
      </mat-form-field>

      <div class="field">
        <label>Описание</label>
        <app-editor *ngIf="editorContent" #texteditor (editorContent)="onEditorContentSaved($event)" [editorPrompt]="editorContent"
          [imageKey]="existingCourse.id"
        ></app-editor>
        <app-editor-parser [editorContent]="editorContent" *ngIf="editorContent"></app-editor-parser>
      </div>

      <div class="field">
        <app-uploader (imageFiles)="selectedImages = $event"></app-uploader>
      </div>

      <div class="items-mgmt">
        <div class="control-bar">
          <div class="title">
            Элементы курса
          </div>

          <button mat-raised-button color="accent"  routerLink="add-item">Добавить элемент курса</button>
        </div>

        <div cdkDropList  class="course-item-list" (cdkDropListDropped)="drop($event)">
          <div class="item" *ngFor="let item of courseItems;
           let index = index">
            <div class="course-item-box" cdkDrag>
              <div class="course-item">
                <span>{{ index }}</span>
                <div class="info">
                  {{ item.title }}
                </div>
                <div class="edit">
                  <button mat-flat-button routerLink="edit-item/{{item.id}}">Редактировать</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="create-btn">
        <button mat-raised-button color="accent" (click)="onSendClick()">Обновить</button>
      </div>

    </div>
  </div>


</div>
